################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/prueba_autogermana/FileContentIndex/60f46c29-1e21-4d57-854d-b8cdedeefecd.vsidx
